# https://www.freecodecamp.org/news/gitignore-file-how-to-ignore-files-and-folders-in-git/

# ignore SQLite database file
data.db

# ignore virtual enviroment files
.venv

# ignore __pycache__
__pycache__/